#footer {
    font-family: Arial, sans-serif;
	background-color: $gray-200;
	& a,
	& a:link,
	& a:visited {
		color: $gray-600;
		text-decoration: none;
		display: block;
	}
	& a:hover,
	& a:focus {
		color: $gray-600;
		opacity: 0.8;
	}
	& .top-footer-wrap {
		background-color: $white;
		border-top: 1px solid $gray-600;
		border-bottom: 1px solid $gray-600;
	}
	& .top-footer-content {
		& h5 {
			font-size: 1.125rem;
			font-weight: bold;
			margin: 0;
			padding: 0;
			color: $gray-600;
			line-height:1.25em;
			white-space: nowrap;
		}
		& .footer-social-group {
			border-right: 1px solid $gray-600;
			& ul.footer-social-links {
				list-style: none;
				& li {
					background-image: none;
					display: inline-flex;
					flex-wrap: nowrap;
					background: transparent;
					padding: 0;
					margin: 0;
					& a {
						color: $gray-600;
						display: inline-block;
						&.twitter:hover,
						&.twitter:focus {
							color: #00aced;
						}
						&.facebook:hover,
						&.facebook:focus {
							color: #3b5998;
						}
						&.linkedin:hover,
						&.linkedin:focus {
							color: #007bb6;
						}
						&.rssfeed:hover,
						&.rssfeed:focus {
							color: #ee802f;
						}
					}
				}
			}
		}
		& .footer-feedback {
			border-right: 1px solid $gray-600;
			& a.healio-survey:hover .fa-check-square {
				color: #589b3c;
			}
		}
		& .footer-help {
			& a:hover .fa-layers,
			& a:focus .fa-layers {
				color: #589b3c;
			}
		}
	}
	& .footer-columns {
		padding: 30px 0 100px; /*extra bottom padding so blb ad doesn't overlap links*/
		& .list-unstyled li {
			font-size: 0.875em;
			margin-bottom: 0.375rem;
			& h5 {
				font-size: 1.125rem;
				font-weight: bold;
				margin: 0 0 8px;
				padding: 0;
				text-transform: none;
				color: $gray-600;
				line-height:1.25em;
				white-space: nowrap;
			}
			& .last.saved {
				color: $gray-600;
				&:hover {
					color: #ee9c00;
    				opacity: 1;
				}
			}
		}
		& .footer-copyright {
			border-top: 1px solid $gray-300;
			& p {
				font-size: 0.75rem;
				color: $gray-600;
			}
		}
	}
}

/*
@media only screen and (max-width: 767px) {
	#footerMobile.mobile-view {
        margin: 0;
        padding: 0 0 10px;
	    margin-bottom: 50px;
    }
	.top-footer-wrap {
		background-color: #fff;
		border-top: 1px solid #919191;
		border-bottom: 1px solid #919191;
	}
	.top-footer-content {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
	}
	.footer-social-group {
		display: flex;
		padding: 10px;
		width: 100%;
		justify-content: space-around;
		border-right: none;
		border-bottom: 1px solid #cccccc;
		margin: 0;
	}
	#footerMobile .top-footer-content h5 {
		font-size: 17px;
		font-weight: bold;
		margin: 0;
		padding: 0;
		text-transform: none;
		color: #767676;
		line-height:1em;
		white-space: nowrap;
		align-self: center;
	}
	.top-footer-content ul.footer-social-links {
		font-size: inherit;
		line-height: 1em;
		margin: 0;
		list-style: none;
		padding: 0;
		display: flex;
		justify-content: space-between;
	}
	.top-footer-content ul li {
		font-size: 14px;
		background-image: none;
		display: inline;
		background: none;
		padding: 0;
		margin: 0;
		line-height: 1em;
		align-self: center;
	}
	.top-footer-content ul li a {
		padding: 0 6px;
	}
	.footer-feedback {
		display: flex;
		padding: 14px 10px;
		width: 100%;
		justify-content: center;
		border-right: none;
		margin: 0;
	}
	.footer-feedback p {
		font-size: 14px;
		line-height: 1em;
		margin: 0;
		padding: 0;
		align-self: center;
	}
	.footer-feedback a.healio-survey {
		border: none;
		margin-bottom: 0;
		padding: 0;
		text-indent: 0;
		width: auto;
		color: #767676 !important;
	}
	#footerMobile.mobile-view #accordion {
        margin-right: 0;
        padding-right: 0;
    }
    #footerMobile.mobile-view .panel-group {
        margin-bottom: 0;
    }
    #footerMobile.mobile-view .panel-default {
        border-bottom: 1px solid #c0c0c0;
        border-top: medium none;
    }
    #footerMobile.mobile-view .panel-group .panel + .panel {
        margin-top: 0;
    }
    #footerMobile.mobile-view .panel-group .panel {
        border-radius: 0;
        margin-bottom: 0;
    }
    #footerMobile.mobile-view .panel {
	    box-shadow: none;
    }
    #footerMobile.mobile-view .panel-heading {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
	    padding: 0;
    }
	#footerMobile.mobile-view .panel >.panel-heading > .panel-title > a {
		color: #767676!important;
		display: block;
		font-size: 18px;
		padding: 10px 15px;
		text-decoration: none;
		text-transform: none;
		background: #ededed;
	}
	#footerMobile.mobile-view a {
		color: #767676;
		display: block;
	}

	#footerMobile.mobile-view .pdsa-panel-toggle {
		float: right;
		cursor: pointer;
		color: #767676;
		font-size: 14px;
		position: relative;
		top: 3px;
	}
	#footerMobile.mobile-view .panel-body {
		background: #ededed;
		padding-top: 0;
		border-top: none;
	}
	#footerMobile.mobile-view .list-unstyled {
        margin: 0 20px 0 0;
        padding: 0;
    }
	#footerMobile .saved {
		color: #767676!important;
		margin-left: -8px!important;
	}
	#footerMobile .last.saved {
		left: 0;
		position: relative;
	}
	#footerMobile .footer-copyright {
		border-top: none;
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 0;
		text-align: center;
	}
	#footerMobile .footer-copyright p {
		font-size: 11px;
		margin-top: 0;
		color: #767676;
	}
}*/