#footer {
    font-family: Arial, sans-serif;
	background-color: $gray-200;
	& a,
	& a:link,
	& a:visited {
		color: $gray-600;
		text-decoration: none;
		display: block;
	}
	& a:hover,
	& a:focus {
		color: $gray-600;
		opacity: 0.8;
	}
	& .top-footer-wrap {
		background-color: $white;
		border-top: 1px solid $gray-600;
		border-bottom: 1px solid $gray-600;
	}
	& .top-footer-content {
		& h5 {
			font-size: 1.125rem;
			font-weight: bold;
			margin: 0;
			padding: 0;
			color: $gray-600;
			line-height:1.25em;
			white-space: nowrap;
		}
		& .footer-social-group {
			border-bottom: 1px solid $gray-300;
			@include media-breakpoint-up(md) {
				border-right: 1px solid $gray-600;
				border-bottom: none;
			}
			& ul.footer-social-links {
				list-style: none;
				& li {
					background-image: none;
					display: inline-flex;
					flex-wrap: nowrap;
					background: transparent;
					padding: 0;
					margin: 0;
					& a {
						color: $gray-600;
						display: inline-block;
						&.twitter:hover,
						&.twitter:focus {
							color: #00aced;
						}
						&.facebook:hover,
						&.facebook:focus {
							color: #3b5998;
						}
						&.linkedin:hover,
						&.linkedin:focus {
							color: #007bb6;
						}
						&.rssfeed:hover,
						&.rssfeed:focus {
							color: #ee802f;
						}
					}
				}
			}
		}
		& .footer-feedback {
			@include media-breakpoint-up(md) {
				border-right: 1px solid $gray-600;
			}
			& a.healio-survey:hover .fa-check-square {
				color: #589b3c;
			}
		}
		& .footer-help {
			& a:hover .fa-layers,
			& a:focus .fa-layers {
				color: #589b3c;
			}
		}
	}
	& .footer-columns {
		padding: 30px 0 100px; /*extra bottom padding so blb ad doesn't overlap links*/
		& .footer-newswire-signup {
			display: flex;
			flex-flow: column nowrap;
			width: 25%;
			height: 100%;
			margin: 0 20px;
			background-color: #919191;
			padding: 10px;
		    & .newswire-box {
				padding: 20px 14px 12px;
				border: 1px solid #FFF;
				& h5 {
					font-size: 18px;
					font-weight: bold;
					margin: 0 0 8px;
					padding: 0;
					text-transform: uppercase;
					color: #FFF;
					line-height: 1.2em;
					white-space: normal;
				}
				& p {
					color: #FFF;
					line-height: 1.2em;
				}
				& .form-group {
					margin-bottom: 8px;
					& label {
						display: none;
					}
					& .form-control {
						border-radius: 0;
						padding: 4px 8px;
					}
					& .btn-primary {
						background-color: #444444;
						border-color: transparent;
					}
					& .btn-primary:hover,
					& .btn-primary:active,
					& .btn-primary:focus {
						background-color: #777777;
						border-color: transparent;
					}
				}
			}
		}
		& .list-unstyled li {
			font-size: 0.875em;
			margin-bottom: 0.375rem;
			& h5 {
				font-size: 1.125rem;
				font-weight: bold;
				margin: 0 0 8px;
				padding: 0;
				text-transform: none;
				color: $gray-600;
				line-height:1.25em;
				white-space: nowrap;
			}
			& .last.saved {
				color: $gray-600;
				&:hover {
					color: #ee9c00;
    				opacity: 1;
				}
			}
		}
		& .footer-copyright {
			border-top: 1px solid $gray-300;
			& p {
				font-size: 0.75rem;
				color: $gray-600;
			}
		}
	}
	& .footer-cards {
		& .card {
			border: none;
			background-color: $gray-100;
			border-radius: 0;
			& .card-header {
				padding: 0;
				margin-bottom: 0;
				background-color: $gray-100;
				border-bottom: 1px solid #c0c0c0;
				&:first-child {
					border-radius: 0;
				}
				& h5 {
					font-size: 1.125rem;
					font-weight: bold;
					& a {
						color: $gray-600;
						padding: 0.625rem 1rem;
						display: flex;
						justify-content: space-between;
						& .fa-plus-square,
						& .fa-minus-square {
							font-weight: normal;
							font-size: 0.875rem;
						}
					}
				}
			}
			& .card-body {
				padding: 0.5rem 1rem;
				border-bottom: 1px solid #c0c0c0;
				& ul.list-unstyled {
					margin-bottom: 0;
					& li {
						margin-bottom: 0.375rem;
						& a {
							font-size: 0.875rem;
							color: $gray-600;
							opacity: 1;
						}
					}
				}
			}
		}
		& .footer-copyright p {
			color: $gray-600;
			font-size: 0.75rem;
		}
	}
}