//
// Header
// --------------------------------------------------

.books-header {
	background-color: $blue;
	& .search  {
		& .input-group {
			height: 34px;
		}
		& .btn.btn-outline-secondary {
			background-color: $white;
			color: $dark;
			border-color: $light;
			&:hover {
				background-color: #0263ce;
				color: $white;
				border-color: $light;
			}
		}
		& .cart-btn a {
			color: $white;
			&:hover {
				color: #0086b9;
			}
		}
		& .mobile-search-btn {
			background-color: transparent;
			border: none;
			color: #428bca;
			&:hover {
				color: $white;
			}
		}
	}
	& a .fa-facebook-square {
		color: #3B5998;
		line-height: 0.9em;
	}
	& a .fa-twitter-square {
		color: #4099FF;
		line-height: 0.9em;
	}
}