//
// Header
// --------------------------------------------------

.books-header {
	background-color: $blue;
	& .search  {
		& .input-group {
			height: 34px;
		}	
	}
	& .fa-shopping-cart {
		color: $white;
	}
	& a .fa-facebook-square {
		color: #3B5998;
		background-color: $white;
		line-height: 0.9em;
	}
	& a .fa-twitter-square {
		color: #4099FF;
		background-color: $white;
		line-height: 0.9em;
	}
}