//
// Content
// --------------------------------------------------

.books-category-header h1,
h1.book-title {
	font-size: 1.75rem;
    line-height: 1.3em;
	font-weight: bold;
	@include media-breakpoint-only(xs) {
		font-size: 1.5rem;
	}
}
.books-list-item {
	& h4 {
		font-size: 1rem;
		font-weight: bold;
		line-height: 1.4em;
		color: #034792;
		& a {
			color: #034792;
			text-decoration: none;
		}
	}
	& p.book-list-author {
		font-size: 0.875rem;
		font-weight: normal;
		color: $gray-700;
		line-height: 1.4em;
	}
}
p.book-author {
    font-weight: bold;
    font-size: 0.875rem;
    color: $blue;
}
.page-thumbs {
	padding-left: 0;
	padding-right: 0;
	& .thumb img {
		border: 1px solid $gray-300;
	}
}
.book-info .meta-info {
	color: $gray-500;
    font-size: 0.875rem;
	line-height: 1.6em;
	list-style: none outside none;
	& li {
		margin-bottom: 6px;
	}
	& li.price {
		color: $gray-800;
		font-size: 1.125rem;
		font-weight: bold;
	}
}
.social-share-icons .fa-lg {
	@include media-breakpoint-only(xs) {
		font-size: 1.5em;
	}
}
.social-share-icons .btn-twitter,
.social-share-icons .btn-facebook,
.social-share-icons .btn-linkedin {
	cursor: pointer;
}
.social-share-icons span.tool-text {
	color: #919191;
    font-size: 10px;
	text-decoration: none;
	border:none;
	@include media-breakpoint-only(xs) {
		font-size: 11px;
	}
}
.social-share-icons .btn-save span.tool-text {
	color: #ee9c00;
	&:hover {
		color: #ee9c00;
		text-decoration: none;
	}
}

/*accordion on product page */
#booksAccordion {
	& .card {
		background-color: #fff;
		border: none;
		border-radius: 0;
		& .card-header {
			background-color: transparent;
			border-bottom: 1px solid $gray-400;
			& h5 button.btn-link {
				color: $gray-800;
				font-size: 1.25rem;
				font-weight: bold;
				width: 100%;
			}
		}
	}
}