//
// Navigation
// --------------------------------------------------

//desktop sidebar nav
.navbar-expand-md {
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.books-sidebar-nav {
    margin-left: -15px; /*counters the padding on col*/
    padding: 0.5rem 0;
    flex: 1;
	/* @media (min-width: 768px) and (max-width: 1199px) {
		margin-top: 140px; /*move nav down so breadcrumbs and tlb ad can go full width
	} */
    & ul.navbar-nav {
     flex-basis: 100%; /*forces column full width*/   
    }
    & li.nav-item {
        & > a.nav-link {
            padding: 2px 3px;
            color: $blue;
            font-size: 0.75rem;
            font-weight: normal;
            background-color: $white;
            display: block;
            &:hover,
            &:focus {
                background-color: #e3e3e3;
                color: $blue;
            }
        }
		&.active > a.nav-link {
			background-color: #e3e3e3;
            color: $blue;
		}
    }
    & li.nav-category {
        background-color: $gray-700;
        color: $white;
        font-size: 0.75rem;
        text-transform: uppercase;
        font-weight: bold;
        padding: 5px;
        margin-top: 10px;
        &:first-child {
            margin-top: 0;
        }
    }
    & .nav-divider {
        border-top: 2px solid $gray-300;
    }
}

// breadcrumbs
.breadcrumb {
	margin: 8px 0;
	list-style: none;
	padding: 4px 0;
	background-color: $white;
	line-height: 1em;
	/* @media (min-width: 768px) and (max-width: 1199px) and (orientation: portrait) {
		margin-left: -23.5%;
	}
	@media (min-width: 768px) and (max-width: 1199px) and (orientation: landscape) {
		margin-left: -175px;
	} */
	& li {
		display: inline-block;
		& a {
			text-decoration: none;
			color: $gray-500;
			font-size: 10px;
		}
	}
	& .breadcrumb-item + .breadcrumb-item::before {
		color: $gray-300;
		content: "> ";
        padding: 0 5px;
        font-size: 10px;
	}
}