// off canvas menu copied from bootstrap off canvas project https://iamphill.github.io/Bootstrap-Offcanvas/

@media (max-width: 767px) {
  .offcanvas-stop-scrolling {
    height: 100%;
    overflow: hidden; }
  .navbar-default .navbar-offcanvas {
    background-color: #f8f8f8; }
  .navbar-inverse .navbar-offcanvas {
    background-color: #222; }
  .navbar-offcanvas {
    background-color: $white;
	position: fixed;
    width: 100%;
    max-width: 250px;
    height: 100%;
    left: -250px;
    top: 0;
    padding: 0;
    z-index: 999;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    transition: all 0.15s ease-in; }
    .navbar-offcanvas.in {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); }
    .navbar-offcanvas.navbar-offcanvas-fade {
      opacity: 0; }
      .navbar-offcanvas.navbar-offcanvas-fade.in {
        opacity: 1; }
    .navbar-offcanvas.offcanvas-transform.in {
      -webkit-transform: translateX(250px);
              transform: translateX(250px); }
    .navbar-offcanvas.offcanvas-position.in {
      left: 0; }
    .navbar-offcanvas.navbar-offcanvas-right {
      left: auto;
      right: -250px; }
      .navbar-offcanvas.navbar-offcanvas-right.offcanvas-transform.in {
        -webkit-transform: translateX(-250px);
                transform: translateX(-250px); }
      .navbar-offcanvas.navbar-offcanvas-right.offcanvas-position.in {
        left: auto;
        right: 0; }
    .navbar-offcanvas .dropdown.open .caret {
      border-top: 0;
      border-bottom: 4px solid; }
    .navbar-offcanvas .dropdown-menu {
      position: relative;
      width: 100%;
      border: inherit;
      box-shadow: none;
      transition: height 0.15s ease-in; }
      .navbar-offcanvas .dropdown-menu.shown {
        display: block;
        margin-bottom: 10px; } 
}
button.offcanvas-toggle {
	background: transparent;
	padding: 2px 6px;
	border: none;
	& .fa-bars {
  		color: $white;
		font-size:1.2em;
  		transition: all .25s ease-in-out; 
	}
}
#off-canvas-accordion .card {
	border: none;
	border-radius: 0;
	& .card-header {
		padding: 0;
		background-color: $white;
		border-bottom: 1px solid $blue;
		border-radius: 0;
		& > a {
			padding: 0.5em 0.75em;
			color: $blue;
			display: block;
			&:hover {
				text-decoration: none;
			}
			& .fa-chevron-down {
				align-self: center;
			}
			
		}
	}
	& .card-body {
		padding: 0;
		background-color: #dcf0fc;
		& ul.list-unstyled {
			padding: 0;
			margin: 0;
			& li {
				border-bottom: 1px solid $gray-400;
				& a {
					display: block;
					font-size: 16px;
					color: $blue;
					padding: 0.25em 0.75em;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}